prev_methods/

venv/

.vscode

dataset/

eda/

pretrained_pth/


**/__pycache__/**

testlib.py
mlflow.db

detail_config/

mylib/

train.sh

test_output/

model_pth/
temp/

try.*